if TARGET_IMX8MP_BLIZZARD || TARGET_IMX8MP_BLIZZARD_4G

config SYS_BOARD
	default "imx8mp_blizzard"

config SYS_VENDOR
	default "asus"

config SYS_CONFIG_NAME
	default "imx8mp_blizzard"

source "board/asus/common/Kconfig"

endif
